@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  font-weight: bold;
}

header {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.footer {
  padding: 10px 0;
  text-align: center;
  background-color: #f8f9fa;
}

/* Table */

.tracking-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 14px;
}

  .tracking-table th,
  .tracking-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }

  .tracking-table th {
    background-color: #f2f2f2;
  }

  .tracking-table tbody tr:hover {
    background-color: #f0f0f0;
  }

  .tracking-table a.btn {
    padding: 6px 12px;
    font-size: 12px;
  }

.trackingsection {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

  .trackingsection dd {
    word-wrap: break-word;
  }

.back-link {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/*EDIT FORM*/
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

  .form-group label {
    font-weight: bold;
  }

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

  .btn-primary:hover {
    background-color: #0056b3;
  }

.backedit-link {
  display: block;
  margin-top: 15px;
}