@page
@model TrackingChain.TriageWebApplication.Pages.Admin.IndexModel
@{
}
<div class="row">
    <div class="col-md-6">
        <ul>
            <li><a class="btn btn-link" href="/Admin/Accounts">Accounts</a></li>
            <li><a class="btn btn-link" href="/Admin/ProfileGroups">Profile Groups</a></li>
            <li><a class="btn btn-link" href="/Admin/Smartcontracts">Smartcontracts</a></li>
        </ul>
    </div>
</div>