@page
@model TrackingChain.TriageWebApplication.Pages.TrackingViewModel
@{
}
<div class="text-center">
    <h1 class="display-4">Tracking Products</h1>
    <form method="post">
        <table>
            <tr>
                <td>Product Code: </td>
                <td><input type="text" name="productCode" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
            </tr>
        </table>
        <hr />
        <div>
            @if (!string.IsNullOrWhiteSpace(Model.ProductCode))
            {

                <h3>Product Code: @Model.ProductCode </h3>
            }
            @foreach (var item in Model.TrackingProductModelViews)
            {
                <p>
                    <span>Data Value: @item.DataValue</span>
                    <br />
                    <span>Timestamp: @item.Timestamp</span>
                </p>
            }
        </div>
    </form>
</div>