@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Accounts.EditModel

<h4>Account</h4>
<hr />
<div class="form-container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AccountBinding.Id" />
        <div class="form-group">
            <label asp-for="AccountBinding.ChainWriterAddress" class="control-label">Chain Writer Address</label>
            <input asp-for="AccountBinding.ChainWriterAddress" class="form-control" />
            <span asp-validation-for="AccountBinding.ChainWriterAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AccountBinding.ChainWatcherAddress" class="control-label">Chain Watcher Address</label>
            <input asp-for="AccountBinding.ChainWatcherAddress" class="form-control" />
            <span asp-validation-for="AccountBinding.ChainWatcherAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AccountBinding.Name" class="control-label">Name</label>
            <input asp-for="AccountBinding.Name" class="form-control" />
            <span asp-validation-for="AccountBinding.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AccountBinding.PrivateKey" class="control-label">Private Key</label>
            <input asp-for="AccountBinding.PrivateKey" class="form-control" />
            <span asp-validation-for="AccountBinding.PrivateKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <a asp-page="./Index" class="backedit-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
