@page
@model TrackingChain.TriageWebApplication.Pages.Admin.ProfileGroups.CreateModel

<h4>ProfileGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.AggregationCode" class="control-label"></label>
                <input asp-for="ProfileGroupBinding.AggregationCode" class="form-control" />
                <span asp-validation-for="ProfileGroupBinding.AggregationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.Authority" class="control-label"></label>
                <input asp-for="ProfileGroupBinding.Authority" class="form-control" />
                <span asp-validation-for="ProfileGroupBinding.Authority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.Category" class="control-label"></label>
                <input asp-for="ProfileGroupBinding.Category" class="form-control" />
                <span asp-validation-for="ProfileGroupBinding.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.Name" class="control-label"></label>
                <input asp-for="ProfileGroupBinding.Name" class="form-control" />
                <span asp-validation-for="ProfileGroupBinding.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.SmartContractId" class="control-label"></label>
                <select asp-for="ProfileGroupBinding.SmartContractId" class ="form-control" asp-items="ViewBag.SmartContractId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfileGroupBinding.Priority" class="control-label"></label>
                <input asp-for="ProfileGroupBinding.Priority" class="form-control" />
                <span asp-validation-for="ProfileGroupBinding.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
